{% extends '@YarshaMediaManager/media_layout.html.twig' %}


{% block content %}
    <div class="col-md-12">
        <h4>Upload New Media</h4>
    </div>

    <div class="col-md-12">
        <form class="dropzone"
              method="post"
              id="dropzone"
              enctype="multipart/form-data">
            <div class="dz-message text-center" data-dz-message>
                <p class="text-info text-underline">Click Here</p>
                <p>OR</p>
                <p>Drop your files here</p>
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <br>
        Back to media
        <a href="{{ path('yarsha_media_manager_list_medias',{'mode':'list'}) }}">List</a>
        /
        <a href="{{ path('yarsha_media_manager_list_medias',{'mode':'grid'}) }}">grid</a>
        <br>
        Maximum upload file size: 128 MB.
    </div>
{% endblock %}

{% block scripts %}
    <script>
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("#dropzone", {
            url: "{{ path('yarsha_media_manager_file_upload') }}",
            uploadMultiple: false,
            createImageThumbnails: true,
            addRemoveLinks: true,
            maxfilesexceeded: function(file) {
                this.removeAllFiles();
                this.addFile(file);
            },
            success: function(file, response){
                if (!response.success){
                    var node, _i, _len, _ref, _results;
                    var message = response.message;
                    file.previewElement.classList.add("dz-error");
                    _ref = file.previewElement.querySelectorAll("[data-dz-errormessage]");
                    _results = [];
                    for (_i = 0, _len = _ref.length; _i < _len; _i++) {
                        node = _ref[_i];
                        _results.push(node.textContent = message);
                    }
                    return _results;
                }
            }
        });
    </script>
{% endblock %}