<style>
    .ys-element{
        padding: 5px;
        background: #f5f5f5;
        border: 1px solid #d5d5d5;
        margin-right: 8px;
        display: inline-block;
        height: 30px;
        line-height: 34px;
    }

    .ys-element.view-grid, .ys-element.view-list{
        background: none;
        border: none;
        padding: 0;
        margin-right: 5px;
    }

    .ys-media-search-btn{
        height: 30px;
        line-height: 14px;
        margin-top: -3px;
    }
</style>

<div class="col-md-12">
    <div class="panel panel-default media-toolbar">
        {#<div class="panel-body media-toolbar">#}

            <div class="col-md-6">
                <div class="row">
                    <a href="{{ path('yarsha_media_manager_list_medias',{'mode':'list'}) }}" class="view-list ys-element" title="list view">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <a href="{{ path('yarsha_media_manager_list_medias', {'mode':'grid'}) }}" class="view-grid ys-element" title="grid view">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </a>
                    <select name="filetype" id="filetypeFilter" class=" ys-element">
                        <option value="all">All media items</option>
                        <option value="image">Images</option>
                        <option value="audio">Audios</option>
                        <option value="video">Videos</option>
                        <option value="other">Other</option>
                    </select>
                    {{ render_media_date_filter('ys-element', 'filterTypeDate') | raw }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="row text-right">
                    <form action="{{ path('yarsha_media_manager_list_medias') }}">
                        <input type="hidden" name="mode" value="{{ app.request.get('mode') }}">
                        <input type="text"
                               name="name"
                               placeholder="Search media by name..."
                               class=" ys-element"
                               {#media-search-input#}
                               id="mediaSearchText"
                               value="{{ app.request.get('name') }}">
                        <input type="submit" class="btn btn-sm btn-primary ys-media-search-btn" value="Search">
                        <a href="{{ path('yarsha_media_manager_index') }}"
                           class="btn btn-sm btn-success ys-media-search-btn">
                            <i class="glyphicon glyphicon-plus"></i> Add Media
                        </a>
                    </form>

                </div>
            </div>

            {#<div class="view-switch">#}
                {#<a href="{{ path('yarsha_media_manager_list_medias',{'mode':'list'}) }}" class="view-list">#}
                    {#<span class="glyphicon glyphicon-th-list"></span>#}
                {#</a>#}
                {#<a href="{{ path('yarsha_media_manager_list_medias', {'mode':'grid'}) }}" class="view-grid">#}
                    {#<span class="glyphicon glyphicon-th-large"></span>#}
                {#</a>#}
            {#</div>#}
            {#<div class="filter col-md-2">#}
                {#<select name="filetype" id="filetypeFilter">#}
                    {#<option value="all">All media items</option>#}
                    {#<option value="image">Images</option>#}
                    {#<option value="audio">Audios</option>#}
                    {#<option value="video">Videos</option>#}
                    {#<option value="other">Other</option>#}
                {#</select>#}
            {#</div>#}
            {#<div class="filter col-md-2">#}
                {#{{ render_media_date_filter('', 'filterTypeDate') | raw }}#}
            {#</div>#}
            {#<div class="pull-right">#}
                {#<form action="{{ path('yarsha_media_manager_list_medias') }}">#}
                    {#<input type="hidden" name="mode" value="{{ app.request.get('mode') }}">#}
                    {#<input type="text"#}
                           {#name="name"#}
                           {#placeholder="Search media by name..."#}
                           {#class="media-search-input"#}
                           {#id="mediaSearchText"#}
                           {#value="{{ app.request.get('name') }}">#}
                    {#<input type="submit" class="btn btn-sm btn-primary" value="Search">#}
                {#</form>#}
            {#</div>#}
        {#</div>#}
        <div class="clearfix"></div>
    </div>
</div>
