<li>
    <a href="{{ path('yarsha_media_manager_index') }}">
        Add Media &nbsp;
        <span class="sr-only">(current)</span>
    </a>
</li>
<li>
    <a href="{{ path('yarsha_media_manager_list_medias') }}">Medias</a>
</li>
<li>
    <a href="{{ path('yarsha_media_manager_media_gallery') }}">Gallery</a>
</li>
<li>
    <a href="{{ path('yarsha_post_list') }}">Post</a>
</li>