<div class="col-md-8 image-detail-modal image-list">
    <div>
        <input type="text" name="search" placeholder="Search Item" id="filterimage" class="form-control" style="width: 200px;
margin-bottom: 10px;">
    </div>
    <div id="media-content">
        <select class="image-picker show-html image-select " multiple></select>
    </div>
    <div class="pagination" id="media-pagination"></div>
</div>

<div class="col-md-4 image-detail-modal modalLeft">
        <div class="row">
            <div id="filename-image-thumb" class="col-md-3"></div>
            <div class="col-md-9">
                <div class="row">
                    <p id="filename-html"></p>
                    <p>Uploaded on : <cite id="uploaded-html"></cite></p>
                    <p>
                        <a href="#" class="" name="btnDeleteImage" id="btnDeleteImage">
                            <i class="fa fa-trash"></i> &nbsp;Delete Permanently
                        </a>
                    </p>
                </div>

            </div>
        </div>
        <form class="form ys-image-detail-form" name="image-details" id="image-details">
            <input type="hidden" id="img-id" name="img-id"/>
            <div class="form-group">
                <label class="control-label col-md-3">URL</label>
                <div class="col-md-9">
                   <div class="row">
                       <input type="text" value="" name="url" class="form-control" id="url" readonly/>
                   </div>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Caption</label>
                <div class="col-md-9">
                    <div class="row">
                        <input type="text" value="" name="caption" class="form-control" id="caption" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Title</label>
                <div class="col-md-9">
                    <div class="row">
                        <input type="text" name="title" value="" id="title" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Alt Text</label>
                <div class="col-md-9">
                    <div class="row">
                        <input type="text" name="alttext" value="" class="form-control" id="alttext"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Description</label>
                <div class="col-md-9">
                    <div class="row">
                        <textarea class="form-control" name="desc-img" id="desc-img"></textarea>
                    </div>
                </div>
            </div>
        </form>

    </div>

