<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('bundles/yarshamediamanager/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/yarshamediamanager/css/basic.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/yarshamediamanager/css/dropzone.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/yarshamediamanager/css/style.css') }}">
    {% block stylesheets %} {% endblock %}
    <title>Media Manager</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Media Manager</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{ render_media_menu() }}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{{ flashMessage }}</p>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{{ flashMessage }}</p>
        </div>
    {% endfor %}

    {% block content %} {% endblock %}
    {% include '@YarshaMediaManager/mediaModal.twig' %}
    {% include '@YarshaMediaManager/post-inside-mediaModal.html.twig' %}
</div>

<script src="{{ asset('bundles/yarshamediamanager/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/yarshamediamanager/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/yarshamediamanager/js/dropzone.min.js') }}"></script>
<script src="{{ asset('bundles/yarshamediamanager/js/notify.min.js') }}"></script>
<script src="{{ asset('bundles/yarshamediamanager/js/bootbox.min.js') }}"></script>
<script src="{{ asset('bundles/yarshamediamanager/js/customScripts.js') }}"></script>
<script src="{{ asset('bundles/yarshamediamanager/js/image-picker.min.js') }}"></script>
<script src="{{ asset('bundles/yarshamediamanager/js/media.js') }}"></script>

{% include '@YarshaMediaManager/includes/scripts.html.twig' %}

{% block scripts %} {% endblock %}

{#<script>#}
    {#var oldURL = document.URL;#}
    {#var index = 0;#}
    {#var newURL = oldURL;#}
    {#index = oldURL.indexOf('?');#}
    {#if(index == -1){#}
        {#index = oldURL.indexOf('#');#}
    {#}#}
    {#if(index != -1){#}
        {#newURL = oldURL.substring(0, index);#}
    {#}#}
    {#window.history.pushState({}, '', newURL)#}
{#</script>#}

</body>
</html>