<div class="modal fade" tabindex="-1" role="dialog" id="medialibrary">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Insert Media</h4>
            </div>
            <div class="modal-body ys-media-modal-body">
                <div class="">
                    <ul class="nav nav-tabs ys-media-modal-tab-btns" role="tablist">
                        <li role="presentation" class="" id="upload_media_tab_btn">
                            <a href="#upload"
                               aria-controls="upload"
                               role="tab" data-toggle="tab">
                                Upload Image
                            </a>
                        </li>
                        <li role="presentation"
                            class="active"
                            id="list_media_tab_btn">
                            <a href="#media"
                               aria-controls="media"
                               role="tab"
                               data-toggle="tab"
                               class="mediagalleryclick">
                                Image Gallery
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content ys-media-modal-tab-content">
                        <div role="tabpanel" class="tab-pane  uploadFiles image-detail-modal" id="upload">
                            <div id="upload" class="uploadFiles">
                                <form
                                    action="{{ path('yarsha_media_manager_file_upload') }}"
                                    class="dropzone"
                                    method="post"
                                    id="my-dropzone"
                                    enctype="multipart/form-data">
                                    <div class="dz-message text-center" data-dz-message>
                                        <p class="text-info text-underline">Click Here</p>
                                        <p>OR</p>
                                        <p>Drop your files here</p>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane active" id="media">
                            {% include('@YarshaMediaManager/media-template.html.twig') %}
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <button id="insertMediaCkeditor" class="btn btn-primary pull-right">Insert Image</button>
                </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
    Dropzone.autoDiscover = true;
    var myDropzone = new Dropzone("#my-dropzone", {
        url: "{{ path('yarsha_media_manager_file_upload') }}",
        uploadMultiple: false,
        createImageThumbnails: true,
        addRemoveLinks: true,
        maxfilesexceeded: function(file) {
            this.removeAllFiles();
            this.addFile(file);
        },
        success: function(file, response){
            if (!response.success){
                var node, _i, _len, _ref, _results;
                var message = response.message;
                file.previewElement.classList.add("dz-error");
                _ref = file.previewElement.querySelectorAll("[data-dz-errormessage]");
                _results = [];
                for (_i = 0, _len = _ref.length; _i < _len; _i++) {
                    node = _ref[_i];
                    _results.push(node.textContent = message);
                }
                return _results;
            }

            if (response.success && response.success == true) {
                addMediaImageOnPreview();
                $(file.previewTemplate).remove();
            } else {
                var _form = $('form#my-dropzone'),
                    _preview_div = _form.find('.dz-preview');
                _preview_div.addClass('dz-error');
                _preview_div.find('div.dz-error-message span').html(res.message);
            }

        }
    });
</script>

