{% extends '@YarshaMediaManager/media_layout.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <button class="btn btn-default"
                data-title = 'Image cropper'
                id="renderCropper">
            Render cropper
        </button>
    </div>
{% endblock %}

{% block scripts %}
    <script>

    </script>
{% endblock %}