<div class="col-md-12">
    {% if mode == 'list' %}
        {% if medias|length %}
        <table class="table table-striped table-hover">
            {% set mediaLinkEnd = '</a>' %}
            {% for media in medias %}
            {% set mediaLink %}
            <a href="#"
               data-toggle="modal"
               data-target="#mediaModal"
               data-id="{{ media.id }}"
                    {#id="profilePictureImage"#}
               data-title="Attachment Details">
                {% endset %}
                <tr>
                    <td class="ys-media-select">&nbsp;</td>
                    <td class="ys-media-item">
                        <div class="">
                            <div class="ys-media">
                                {{ mediaLink|raw }}
                                {% if  'image' in media.filetype %}
                                    <img src="{{ media.thumbnailUrl }}"
                                         alt="{{ media.altName }}"
                                         sizes="100vw">
                                {% elseif 'audio' in media.filetype %}
                                    <span class="glyphicon glyphicon-music media-icon-small"></span>
                                {% elseif 'video' in media.filetype %}
                                    <span class="glyphicon glyphicon-film media-icon-small"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-file media-icon-small"></span>
                                {% endif %}
                                {{ mediaLinkEnd|raw }}
                            </div>
                            <div class="ys-media-info">
                                <p class="ys-media-title">{{ mediaLink|raw }}{{ media.title }}{{ mediaLinkEnd|raw }}</p>
                                <p class="ys-media-caption">Caption: {{ media.caption }}</p>
                                <p class="ys-media-alt">Alt: {{ media.altName }}</p>
                                <p class="ys-media-action">
                                    <a class=""
                                       data-toggle="modal"
                                       data-target="#mediaModal"
                                       data-id="{{ media.id }}"
                                       data-title="Attachment Details">
                                        Edit
                                    </a>
                                    <span class="ys-horizontal-separator"></span>
                                    <a class="text-danger" onclick="deleteMedia(event, {{ media.id }})" href="#">Move to Trash</a>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>{{ media.description }}</td>
                    <td>{{ media.createdAt|date('Y-m-d') }}</td>
                </tr>
                {% endfor %}
        </table>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-body text-danger">
                    No media to list
                </div>
            </div>
        {% endif %}

    {% endif %}

    {% if mode == 'grid' %}
            <div class="row">
                {% for media in medias %}
                    {#<div class="col-md-2"> &#123;&#35;  pull-left  media-thumbnail &#35;&#125;#}
                        <div class="ys-media-thumb">
                            <a href="#"
                               data-toggle="modal"
                               data-target="#mediaModal"
                               data-id="{{ media.id }}"
                               data-title="Attachment Details">
                                {% if  'image' in media.filetype %}
                                    <img src="{{ media.thumbnailUrl }}"
                                         alt="{{ media.altName }}"
                                         width="100%"
                                    >
                                {% elseif 'audio' in media.filetype %}
                                    <div class="media-thumbnail-icon">
                                        <div class="centered">
                                            <span class="glyphicon glyphicon-music media-icon"></span>
                                        </div>
                                        <div class="filename">
                                            <div>{{ media.title }}</div>
                                        </div>
                                    </div>
                                {% elseif 'video' in media.filetype %}
                                    <div class="media-thumbnail-icon">
                                        <div class="centered">
                                            <span class="glyphicon glyphicon-film media-icon"></span>
                                        </div>
                                        <div class="filename">
                                            <div>{{ media.title }}</div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="media-thumbnail-icon">
                                        <div class="centered">
                                            <span class="glyphicon glyphicon-file media-icon"></span>
                                        </div>
                                        <div class="filename">
                                            <div>{{ media.title }}</div>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>
                        </div>
                    {#</div>#}
                {% else %}
                    <div class="panel panel-default">
                        <div class="panel-body text-danger">
                            No media to list
                        </div>
                    </div>
                {% endfor %}
            </div>

    {% endif %}
</div>

