{% import '@YarshaMediaManager/macros/mediaMacro.html.twig' as mediaMacro %}
<div class="row"  id="galleryDetail">
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {% set galleryPath = gallery.id  ? path('yarsha_media_manager_media_gallery_edit', {'id':gallery.id}) : path('yarsha_media_manager_media_gallery_add') %}
    {{ form_start(form, {'attr':{'action': galleryPath }}) }}

    <div class="col-md-12">
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label required">Medias</label>
                <ul id="yarsha_mediamanagerbundle_gallery_medias" style="list-style: none;">
                    {% for media in medias %}
                        {% set checked = (media in form.vars.value.medias) %}
                        {{ mediaMacro.renderMediaInputWithImage(media, checked) }}
                    {% endfor %}
                </ul>
                {% do form.medias.setRendered %}
            </div>
        </div>

        <div class="col-md-4" id="galleryEditForm">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            <input type="submit" value="{% if isUpdating is defined and isUpdating == true %}Update {% else %}Add{% endif %}" class="btn btn-primary">
            {{ form_end(form) }}
        </div>
    </div>
</div>