{% extends '@YarshaMediaManager/media_layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="#"
           class="btn btn-xs btn-primary add-gallery"
           data-title="Add Gallery">
            Add Gallery
        </a>
    </div>
    <br>
    <br>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Created date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for g in gallery %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ g.name }}</td>
            <td>{{ g.createdAt ? g.createdAt | date('Y-m-d') : '---' }}</td>
            <td>
                {#<a href="#"#}
                   {#class="btn btn-info view-gallery"#}
                   {#data-id="{{ g.id }}"#}
                   {#data-title="{{ g.name }}">#}
                    {#<span class="glyphicon glyphicon-eye-open"></span>#}
                {#</a>#}
                <a href="#"
                   class="btn btn-primary edit-gallery"
                   data-id="{{ g.id }}"
                   data-title="{{ g.name }}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="{{ path('yarsha_media_manager_media_gallery_delete', {'id':g.id}) }}"
                   class="btn btn-danger delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">No gallery found.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}